section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15% 0;
}
input {
  background: white;
}
#content_article {
  height: 326px;
}

.titleAdmin {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}
.AdminArticles {
  display: flex;
}

.AdminDetails > a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1441px) and (min-width: 1025px) {
  .actuality {
    display: flex;
    flex-direction: column;
    .article {
      // border: 8px solid black;
      width: 296px;
      img:hover {
        width: 200px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .actuality {
    display: flex;
    flex-direction: column;
  }
  .articleDetailsAdmin {
    margin-left: 119px;
  }
}

@media only screen and (max-width: 425px) {
  .actuality {
    display: flex;
    flex-direction: column;
  }
}
