.homepage {
  font-size: 62.5% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homepage * {
  font-size: 1.2em;
  padding: 0;
  /* margin: 0; */
  /* margin-top: 155px; */
}

.flex {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: "Muli-Bold";
  src: local("MuliBold"), url(../../assets/fonts/muli/Muli-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Muli-ExtraLight";
  src: local("MuliExtraLight"), url(../../assets/fonts/muli/Muli-ExtraLight.ttf) format("truetype");
}

footer {

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin: 4% 6%;
  font-family: "Muli-ExtraLight" !important;
  -webkit-box-ordinal-group: 1 !important;
      -ms-flex-order: 0 !important;
          order: 0 !important;
}

footer * {

  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

footer div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 4%;
}

footer div:nth-child(1) p {
  padding-top: 8%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div:nth-child(1) img {
  width: 40%;
}

footer div:nth-child(2) {
  height: 100%;
  width: 100%;
  border-top: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

footer div:nth-child(2) .copyright {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer div:nth-child(2) .Nav {
  padding-top: 4%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 50%;
  list-style-type: none;
}

footer div:nth-child(2) .Nav li:nth-child(n) {
  padding-bottom: 5%;
}

footer div:nth-child(2) .Nav a {
  text-decoration: none;
  color: black;
}

footer div:nth-child(2) .contactFooter {
  border: 3px solid blue;
}

@media only screen and (min-device-width: 1024px) {
  footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  footer div:nth-child(1) {
    padding-top: 0 !important;
    padding-bottom: 1% !important;
    width: 20vw !important;
    padding-right: 2% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-top: 2% !important;
    margin-right: 5% !important;
    max-height: 35vh !important;
  }
  footer div:nth-child(1) p:nth-child(1) {
    padding-top: 0% !important;
    min-width: 10vw !important;
  }
  footer div:nth-child(1) img {
    min-width: 10vw !important;
    max-height: 26vh !important;
  }
  footer div:nth-child(2) {
    border-top: none !important;
  }
  footer .footerDesktop {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    height: 50vh !important;
    width: 50vw !important;
  }
  footer .footerDesktop .copyright {
    width: 20vw !important;
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    height: 20vh !important;
  }
  footer .footerDesktop .Nav {
    width: 22vw !important;
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
    padding-top: 2% !important;
    padding-top: 4%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    width: 50%;
    list-style-type: none;
  }
  footer .footerDesktop .Nav li:nth-child(n) {
    padding-bottom: 5%;
  }
  footer .footerDesktop .Nav a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}
/*# sourceMappingURL=footer.css.map */