@font-face {
  font-family: "Muli";
  src: local("Muli"), url(../../assets/fonts/muli/Muli.ttf) format("truetype");
}

@font-face {
  font-family: "Muli-Bold";
  src: local("MuliBold"),
    url(../../assets/fonts/muli/Muli-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Light";
  src: local("QuicksandLight"),
    url(../../assets/fonts/Quicksand/Quicksand-Light.ttf) format("truetype");
}
.video {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 10%;
  h1,
  h2 {
    font-size: 15px;
  }
  h1 {
    font-family: "Muli-ExtraLight";
  }
  h2 {
    font-family: "Muli-Bold";
    // color: #004aad;
    color: #004aad;
  }
  iframe {
    // width:80vw;
    width: 110vh; //MODIFIER PAR REBECCA
    height: 67vh; //MODIFIER PAR REBECCA
  }
  span {
    color: black;
  }
  @media (width: 280px) {
    h1,
    h2 {
      font-size: 13.5px !important;
    }
  }
  // IPAD
  @media (min-width: 768px) {
    h1 {
      font-size: 21px !important;
      margin-top: 44px;
    }
    h2 {
      font-size: 18px !important;
    }
  }

  // @media only screen and (min-device-width: 1024px) {

  // }
}
