@font-face {
  font-family: "Muli";
  src: local("Muli"),
    url(../../assets/fonts/muli/Muli.ttf) format("truetype");
}
.sengagerContainer>.ContactP {//AJOUTER
  font-family: "Quicksand-Light";
  font-size: 2em;
  width: 32%;
  margin-left: 63px;
}

.contact {
  font-size: 62.5%;
  min-width: 40%;
  // border: 5px solid blueviolet;
  font-family: "Muli-ExtraLight";
  order:1;
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
  ul{
    width: 40%;
    li:nth-child(3) a{
      font-weight: bold!important;
    }
    a{
      font-style:"Muli"!important;
      font-size: 20px;
      text-decoration: none;
      color: #d99827;
      font-weight: bold!important;
      cursor: pointer!important;
    }  
  } 
  @media only screen and (min-device-width: 1024px) {
    display: flex!important;
    align-items: flex-end!important;
    order:1!important;
    
  }
}

