@font-face {
  font-family: "Muli";
  src: local("Muli"), url(../../assets/fonts/muli/Muli.ttf) format("truetype");
}

@font-face {
  font-family: "Muli-Bold";
  src: local("MuliBold"), url(../../assets/fonts/muli/Muli-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: local("QuicksandRegular"), url(../../assets/fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "Quicksand-Light";
  src: local("QuicksandLight"), url(../../assets/fonts/Quicksand/Quicksand-Light.ttf);
}

.testimony {
  margin-top: 14%;
  text-align: center;
}

.testimony * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.testimony span {
  background: black;
  height: 1px;
  display: block;
  float: center;
  margin: 10%;
}

.testimony h2 {
  margin-top: 10%;
  font-family: "Roboto-Light";
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.testimony h1 {
  font-family: "Roboto-Bold";
  color: #D29E44 !important;
  margin-bottom: 10px;
  font-size: 20px;
}

.testimony .box {
  padding-top: 2%;
}

.testimony .box h3,
.testimony .box h4 {
  font-size: 18px;
  font-weight: bold;
  color: black !important;
}

.testimony .box h3 {
  font-family: "Quicksand-Light";
}

.testimony .box h4 {
  margin-top: 5px;
  font-family: "Muli-Bold";
  font-weight: bold;
}

.testimony .box h5 {
  font-size: 18px;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: "Muli-Bold";
}

.testimony .box p {
  font-size: 16px;
  font-family: "Quicksand-Regular";
}

.testimony :nth-child(1) h5 {
  border-bottom: 1px solid #d140d6;
  color: #d140d6;
  padding-bottom: 2%;
}

.testimony :nth-child(2) h5 {
  border-bottom: 1px solid #91C877;
  color: #91c877;
}

.testimony :nth-child(3) {
  margin-bottom: 10%;
}

.testimony :nth-child(3) h5 {
  border-bottom: 1px solid #a2c2df;
  color: #a2c2df;
}

@media (min-width: 540px) {
  .testimony h1,
  .testimony h2 {
    font-size: 25px !important;
  }
  .testimony h3,
  .testimony h4 {
    font-size: 22px !important;
  }
  .testimony p {
    font-size: 17px !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  .testimony {
    margin: 4% 6% !important;
  }
  .testimony span {
    margin: 0 !important;
  }
  .testimony h1 {
    font-size: 40px !important;
  }
  .testimony h2 {
    font-size: 35px !important;
  }
  .testimony h3, .testimony h4 {
    font-size: 26px !important;
  }
  .testimony h5 {
    font-size: 20px !important;
  }
  .testimony p {
    font-size: 24px !important;
  }
  .testimony .allBox {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    border-bottom: 1px solid black !important;
  }
  .testimony .allBox .box {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 35% !important;
    margin: 6% 2% !important;
  }
  .testimony .allBox :nth-child(n) {
    margin-top: 0% !important;
    padding-top: 0 !important;
  }
  .testimony .allBox :nth-child(3) h5,
  .testimony .allBox :nth-child(2) h5 {
    padding-bottom: 2% !important;
  }
  .testimony .allBox :nth-child(3) {
    padding-bottom: 0 !important;
    border-bottom: none !important;
  }
}
/*# sourceMappingURL=testimony.css.map */